.cont{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: black;
   
    a{
    height: 50%;
    width: min-content;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    }
}