<div class="cont">
  <h2>Contact Me</h2>
  <div *ngIf="formSubmitted" class="submitted">
    <span>Thank you for your Message</span>
    <button (click)="enableForm()">New Message</button>
  </div>
  <form #myForm="ngForm" *ngIf="!formSubmitted" (submit)="submit()">
    <div class="loading" *ngIf="loading">
      <svg class="spinner" viewBox="0 0 100 100">
        <circle class="bottom" cx="50" cy="50" r="40"></circle>
        <circle
          pathLength="100"
          id="top"
          class="top"
          cx="50"
          cy="50"
          r="40"
        ></circle>
      </svg>
    </div>
    <div class="information">
      <div class="label_input">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="request.name"
          #name="ngModel"
          required
          minlength="2"
          pattern="[A-Za-z ]+"
        />
      </div>
      <div class="label_input">
        <label for="email">E-Mail</label>
        <input
          type="email"
          name="email"
          class="form-control"
          [(ngModel)]="request.email"
          #email="ngModel"
          required
          pattern="[a-zA-z0-9\.!#$%&'*+-/=?^_`{|}~]+@[a-zA-Z]+\.[a-z]+"
          minlength="5"
        />
      </div>
      <div class="label_input">
        <label for="subject"> subject (optional)</label>
        <input
          type="text"
          name="subject"
          id=""
          name="subject"
          [(ngModel)]="request.subject"
          #subject="ngModel"
        />
      </div>
    </div>
    <textarea
      name="message"
      [(ngModel)]="request.message"
      #message="ngModel"
      placeholder="Your message"
      cols="30"
      rows="10"
      minlength="10"
      required
      spellcheck="false"
    ></textarea>
    <button *ngIf="myForm.valid" type="submit">Submit</button>
    <button type="button" *ngIf="myForm.invalid">Submit</button>
  </form>
</div>
